body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

#header {
    border: 3px solid #000;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

#search, #search2, #search3 {
    border: 3px solid #000;
    width: auto;
    height: auto;
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 0 15px;
    transition: background-color 0.3s ease;
}

#search:hover, #search2:hover, #search3:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

#main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}




@media only screen and (max-width: 600px) {
    #search, #search2, #search3 {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    #main {
        flex-direction: column;
     
        height: auto
    }

    #search, #search2, #search3 {
        width: auto;
    }
}